@font-face {
  font-family: '123rf';
  src: url('font/123RF_L_TTF.woff') format('woff');
  font-weight: 300
}

@font-face {
  font-family: '123rf';
  src: url('font/123RF_R_TTF.woff') format('woff');
  font-weight: 400
}

@font-face {
  font-family: '123rf';
  src: url('font/123RF_B_TTF.woff') format('woff');
  font-weight: 700
}

@font-face {
  font-family: 'morris';
  src: url('font/morris.woff') format('woff');
  font-weight: 400
}

body{ font-family: '123rf', sans-serif;}
img{max-width:100%;}
button{background: none; border:none; box-shadow:none; border-radius:0; padding:0; overflow:visible; cursor:pointer; font-family: inherit;}
.displaynone{display: none !important;}

.off{
  opacity: 0;
  visibility: hidden;
}

.ch_container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(img/container_bg.png) center no-repeat;
  background-size: cover;
}
.ch_wrapper{
  position: relative;
  width: 100%;
  min-width: 1366px;
  height: 95%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.ch_wrapper .bg_box{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 95%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.crt_box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.talk_box{
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 1309px;
  background: url(img/bg_talk.png) center bottom no-repeat;
  background-size:100% auto;
}
.talk_box .talk_name{position: absolute;}
.talk_box .name{position: absolute; top: 50%; transform: translateY(-50%); left: 0; width: 95%; font-size: 45px; color: #fff; letter-spacing: 0.16em; text-align: center; font-family: 'morris', sans-serif; text-shadow: -1px 0px #CA75B3, 0px 1px #CA75B3, 1px 0px #CA75B3, 0px -1px #CA75B3;}
.talk_box .text{position: absolute; opacity: 0; visibility: hidden;}
.talk_box .typing_text{
  line-height: 1.3;
  position: absolute;
  top: 90px;
  left: 0;
  padding: 0 60px;
  font-size: 31px;
  font-weight: 700;
  letter-spacing: -0.015em;
}
.talk_box button{
  position: absolute;
  top: 0;
  width: 200px;
  height: 100%;
  cursor: pointer;
}
.talk_box .button_prev{
  left: 0;
  opacity: 0;
}
.talk_box .button_next{
  right: 0;
}
.talk_box .button_next img{
  position: absolute;
  bottom: 5px;
  right: 30px;
}

.select_box{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: auto;
  height: 100%;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
}
.select_box button{
  width: 536px;
  height: 64px;
  background: url(img/bg_select.png) center no-repeat;
  background-size: 100% 100%;
  font-size: 24px;
  color: #fff;
  font-weight: 700;

}
.select_box button:nth-of-type(n+2){
  margin-top: 30px;
}












